.mainClass {

  height: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #446DFF 0% 0% no-repeat padding-box;
  opacity: 1;

}

.greetingMsz {
  text-align: left;
  font: normal normal normal 25px/30px Montserrat;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: capitalize;
  opacity: 1;
  width: 543px;
}

.type {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  height: 23px;
}

.choose {
  letter-spacing: 0px;
  color: #000000;
  text-transform: uppercase;
  opacity: 1;
  width: 540px;
  margin-bottom: 20px;

}

.chooseBlock {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}



.iconBlock {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border-radius: 7px;
  opacity: 1;
  height: 137px;
  width: 173px;
  float: left;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.lengthOfIcon {

  text-align: center;

}

.iconBlock:hover {
  background: #EDFDF9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #0EC098;
  border-radius: 7px;
  opacity: 1;
  height: 137px;
  width: 173px;
  float: left;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}

.dashboard-length {
  background: #EDFDF9 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border: 1px solid #0EC098;
  border-radius: 7px;
  opacity: 1;
  height: 137px;
  width: 173px;
  float: left;
  margin: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
}



.desc {
  text-align: center;
  padding-top: 14px;
}

.tmp:hover {
  background-color: #FFEEF0;
  color: #FD5160;
}

.vol:hover {
  background-color: #E8DDFF;
  color: #7224FF;
}

.len:hover {
  color: #0EC098;
}