.main {

  margin: 0px 390px;
  padding: 0% 5px;

}

.outer-box {
  height: 239px;
  width: 270px;
  margin: 0px 6px;
  display: inline-block;
  margin-left: 10px;
}

.heading {
  margin-top: 40px;
}

.content {
  background-color: white;
  border: solid 2px lightgray;
  height: auto;
  width: 95%;
  padding: 3px;
}



.number {
  font-weight: bold;
  margin: 4px 15px;
  font-size: 31px;
}


.image {
  float: right;
}

.selection {
  width: 95%;
  height: 30px;
  border: none;
  outline: none;
  margin-left: 10px;

}